<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
                <p>Authentication, Validation, and Error Handling</p>
            </div>
        </div>
        <div class="container">
            <form action="/ta06/register" method="POST">
                <input type="email" name="email" required placeholder="Email">
                <input type="password" name="password" required placeholder="Password">
                <input type="password" name="confirmPassword" required placeholder="Confirm Password">
                <button type="submit">Register</button>
            </form>
        </div>
</body>

</html>